<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload File Example</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/process}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Process Data</button>
                </form>
                <br>
                <h3>Results</h3>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Minimum Number:
                            <span th:text="${result.getMin()}" th:if="${result ne null}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Maximum Number:
                            <span th:text="${result.getMax()}" th:if="${result ne null}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Median Number:
                            <span th:text="${result.getMedian()}" th:if="${result ne null}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Average Number:
                            <span th:text="${result.getAverage()}" th:if="${result ne null}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Longest Ascending Number Sequence:
                            <span th:text="${result.getLongestAscNumSequence()}" th:if="${result ne null}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Longest Descending Number Sequence:
                            <span th:text="${result.getLongestDescNumSequence()}" th:if="${result ne null}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Processing Time, sec:
                            <span th:text="${result.getTotalProcessingTime()}" th:if="${result ne null}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Numbers Quantity, pc:
                            <span th:text="${result.getTotalNumQuantity()}" th:if="${result ne null}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>